html {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}

body {
    background-color: #F5F5F5;
}

h2 {
   
    display: inline;
    background-color: #F5F5F5;
    font-size: 1px;
	padding-left: 50%;
	padding-top: 9%;
}

.gds {

    background: url("test.jfif") no-repeat 0px -3px;
    display: block;
    padding-top: 30px;
    height: 20px;

}

section {
    background-color: #F5F5F5;
}

#heading {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    background-color: #F5F5F5;
}

p {
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    background-color: #F5F5F5;
}

.green {
    color: yellowgreen;
}

.blue {
    color: #A94439;
}
